/* Home page background image */
#home-bg {
    background-image:url("cinnamonrolls.png");
    background-size:cover;
    background-size: 1400px 788px;
    background-repeat:no-repeat;
    margin:0;
}

/* Our Story background image */
#ourstory-bg {
    background-image:url("ourstory@3x.png");
    background-size:cover;
    background-size: 1400px 930px;
    background-repeat:no-repeat;
    margin:0;
}

/* Top navigation */
.topnav {
    overflow:hidden;
    background-color:black;
    width:1366px;
    padding-bottom:10px;
    margin:0;
    padding:50px 16px;
    text-align:center;
}
/* Navigation menu */
#menu {
    text-align:right;
}

/* navigation menu links */
#menu a {
    float:right;
    display:block;
    color:white;
    text-align:center;
    padding:50px 16px;
    text-decoration:none;
    font-size:24px;
    font-family:'Libre Baskerville', serif;
}

/* Bun Bun Bake Shop top left logo */
#logo img {
    float:left;
    width:198px;
    height:120px;
}

/* Navigation header title */
#title {
    text-align:center;
    text-decoration:none;
    color:white;
    font-size:38px;
    font-style:bold;
    font-family:'Libre Baskerville', serif;
    padding-top:60px;
    padding-right:200px;
}

/* Navigation header title link */
#title a {
    text-align:center;
    text-decoration:none;
    color:white;
    font-size:38px;
    font-style:bold;
    font-family:'Libre Baskerville', serif;
    padding-top:60px;
}

/* "Our Story" paragraph */
.para {
    float:left;
    color:black;
    text-align:center;
    margin-top:80px;
    margin-left:300px;
    margin-right:300px;
    text-decoration:none;
    font-size:30px;
    font-family:'Libre Baskerville', serif;
}

/* Table and table data format */
#shoplist, td {
    float:center;
    padding:10px 135px;
    padding-top:20px;
    text-align:center;
    width:10%;
    font-size:20px;
    font-family:'Libre Baskerville', serif;
}

/* Table images format (on "Shop" page) */
td img {
    width:100px;
    height:100px;
}

/* Shopping cart "table" */
#shoppingcart {
    float:left;
    padding-top:20px;
    padding-right:100px;
    text-align:center;
    width:2%;
    font-size:16px;
    font-family:'Libre Baskerville', serif;
}

#shoppingcart th {
    font-size:20px;
    font-style:italic;
    font-family:'Libre Baskerville', serif;
    width:20%;
}

#shoppingcart tr, td {
    font-size:18px;
    font-family:'Libre Baskerville', serif;
    width:20%;
}

/* Checkout button*/
#checkout a{
    float:right;
    margin-top:450px;
    padding:25px 35px;
    background-color:black;
    border:none;
    color:white;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-family:'Libre Baskerville', serif;
    font-size:20px;
}

/* displays total price */
#total{
    float:right;
    padding-right:200px;
    margin-top:400px;
    font-size:24px;
    font-weight:bold;
}

/* Pumpkin spice description paragraph */
.pumpkinspice {
    float:right;
    padding-right:200px;
    text-align:left;
    text-decoration:none;
    font-size:18px;
    font-family:'Libre Baskerville', serif;
}

/* Pumpkin spice image */
#pumpkinimg {
    float:left;
    width:400px;
    height:400px;
    margin-top:20px;
    margin-left:50px;
    border:1px solid black;
}

/* Black buttons */
button {
    float: right;
    bottom:100px;
    background-color:black;
    border:none;
    color:white;
    padding:10px 20px;
    margin-left:10px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
}

/* Button links */
button a {
    float:right;
    right:100px;
    background-color:black;
    border:none;
    color:white;
    padding:5px 5px;
    margin-left:10px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-family:'Libre Baskerville', serif;
    font-size:20px;
}

#addtocart, #add, #subtract { /*add to cart, add qty, and subtract qty buttons*/
    float:right;
    right:100px;
    background-color:black;
    border:none;
    color:white;
    padding:5px 5px;
    margin-left:10px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-family:'Libre Baskerville', serif;
    font-size:20px;
}

/* Box that displays quantity */
#num {
    float:right;
    background-color:white;
    border:1px solid black;
    color:border;
    padding:15px 30px;
    margin-left:10px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-family:'Libre Baskerville', serif;
    font-size:16px;
}

/*allow user to type in quantity*/
input {
    float:right;
    background-color:white;
    margin-left:10px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-family:'Libre Baskerville', serif;
    font-size:16px;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-family:'Libre Baskerville', serif;
    font-size:14px;
    border: 1px solid black;
    cursor: pointer;
}

/*formatting of each individual item in the dropdowns*/
#og, #glutenfree, #vegan, #buttermilk, #carrotcake, #blackberry, #strawberry, #birthday, #cranberry, #lemon, #walnut, #maple, #bacon, #caramel {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Libre Baskerville', serif;
    font-size:12px;
}

/* Position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    top:30px;
    left:70px;
}

/* Dropdown Content*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Libre Baskerville', serif;
    font-size:12px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu */
.show {display:block;}
